<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="serverConfiguration" type="UltimatePoker.Configuration.ServerConfiguration, UltimatePoker"/>
		<section name="guiConfiguration" type="UltimatePoker.Configuration.GuiConfiguration, UltimatePoker"/>
		<section name="newServerConfiguration" type="UltimatePoker.Configuration.NewServerConfiguration, UltimatePoker"/>
		<section name="regularTournament" type="UltimatePoker.Configuration.NewServerConfiguration, UltimatePoker"/>
		<section name="extremeTournament" type="UltimatePoker.Configuration.NewServerConfiguration, UltimatePoker"/>
		<section name="simpleGame" type="UltimatePoker.Configuration.NewServerConfiguration, UltimatePoker"/>
		<section name="longGame" type="UltimatePoker.Configuration.NewServerConfiguration, UltimatePoker"/>
	</configSections>
	<serverConfiguration address="127.0.0.1" port="6060"/>
	<guiConfiguration stickyHighlighting="true"/>
	<newServerConfiguration displayName="Last Configured Run" port="6060" selectedGame="TexasHoldem" tournamentMode="true" raiseLimit="2"/>
	<regularTournament displayName="Regular Tournament" tournamentMode="true" raiseLimit="2" ante="0" startingMoney="10000" autoRaiseOnHand="4000" playerTimeLimit="45"/>
	<extremeTournament displayName="Extreme Tournament" tournamentMode="true" raiseLimit="2" ante="0" startingMoney="10000" autoRaiseOnHand="7" playerTimeLimit="30"/>
	<simpleGame displayName="Simple Game" tournamentMode="false" acceptsNewPlayers="true" raiseLimit="2" ante="100" autoRaiseOnHand="5000" playerTimeLimit="0"/>
	<longGame displayName="Longer game" tournamentMode="false" acceptsNewPlayers="true" raiseLimit="3" ante="100" autoRaiseOnHand="6000" startingMoney="10000" playerTimeLimit="0"/>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
